button{
    opacity: 100%;
    transition: opacity 300ms;

    &:hover{
        opacity: 70%;
    }
}

nav a:not(.logo){
    margin-left: 0px;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: rgba(0,0,0,0);
    transition: background-color 300ms;
    &:hover{
        background-color: var(--grisPrimario);
        color: var(--negro);

    }
    &.active{
        background-color: var(--grisPrimario);
    }
}