nav {
    width: 100%;
    background-color: rgba(255, 255, 255, .55);
    padding: 20px 20px;
    border-bottom: 0.65px solid #C6C6C6;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: sticky;
    z-index: 200;
    backdrop-filter: blur(20px);
    .wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    li{
        margin-left: 8px;
    }
    .nav-link {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: var(--grisTextos);
        text-decoration: none;
    }
    .navbar-toggler{
        background-color: var(--grisPrimario);
        border-color: transparent;
    }
}


button {
    border-radius: 3px;
    padding: 12px 24px;
    margin-right: 8px;
    font-size: 14px;
}

.btn-outline-primary,
.btn-primary,
input[type=submit] {
    padding: 12px 24px;
    border: 1px solid var(--azul);
    border-radius: 3px;
}

.btn-primary {
    background-color: var(--azul);
    color: white;
}

.btn-outline-primary {
    background-color: rgba(255, 255, 255, 0);
    color: var(--azul);
}


@media (max-width: 576px) {
    .my-2{
        margin-top: 1rem!important;
        margin-bottom: 2rem!important;
    }

    nav li{
        margin-left: 0px;
        margin-bottom: 8px;
    }
}
