@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');


:root {
    --azul: #4000D4;
    --naranjoGlobal: 251, 109, 0;
    --violetaCounsel: 100, 6, 183;
    --grisPrimario: #F6F6F8;
    --grisTextos: #888B94;
    --negro: #14192B;
    --verdeKickstart: 6, 91, 112;
    --rojoLegal: 193, 0, 0;

}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    padding: 0;
    text-decoration: none;
}

section {
    position: relative;
    margin-top: 100px;
    
    
}


section .wrapper {
    width: 100%;
    max-width: 1080px;
    padding: 80px 0px 80px 0px;

}

.saltoDeLinea{
    display: block;
}

h2 {
    font-size: 48px;
    font-weight: bold;
}

@media (max-width: 576px) {
    .saltoDeLinea{
        display: none;
    }

    .wrapper {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }
}

@media (max-width: 1180px) {
    .saltoDeLinea{
        display: none;
    }
}






/* NAVBAR */



nav {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(255, 255, 255, .55);
    padding: 20px 20px;
    border-bottom: 0.65px solid #C6C6C6;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: fixed;
    z-index: 200;
    backdrop-filter: blur(20px);
}

nav .wrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.leftNav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.leftNav .logo {
    padding-right: 30px;
}

button {
    border-radius: 3px;
    padding: 12px 24px;
    margin-right: 8px;
    font-size: 14px;
}

nav a {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--negro);
    text-decoration: none;
    margin-left: 20px;
}

.rightNav {
    display: flex;
    flex-flow: row wrap;
    align-items: end;
    align-content: center;

}

.btnSecondary,
.btnPrimary,
input[type=submit] {
    padding: 12px 24px;
    border: 1px solid var(--azul);
    border-radius: 3px;
}

.btnPrimary {
    background-color: var(--azul);
    color: white;
}

.btnGlobal {
    background-color: #FB6D00;
    border: none;
    color: white;
}

.btnSecondary {
    background-color: rgba(255, 255, 255, 0);
    color: var(--azul);
}


@media (max-width: 768px) {
    nav a {
        display: none;
    }

    nav a:first-child {
        display: block;
    }

    .btnSecondary {
        display: none;
    }
    nav{
        width: 100%;
    }
}


@media (max-width: 576px) {
    nav a {
        display: none;
    }

    nav a:first-child {
        display: block;
    }

    .btnSecondary {
        display: none;
    }
}


/* Main */

main {
    padding-top: 100px  ;
    position: relative;
    overflow-x: hidden;
}

main .container {
    display: flex;
    align-items: center;
    
}

main .row {
    height: 100%;
}

.images {
    position: relative;
}


h1 {
    font-size: 42px;
    margin-bottom: 16px;
    font-weight: 700;
}

main p {
    font-size: 18px;
    line-height: 1.6rem;
    color: var(--grisTextos);
}

.btnCounsel{
    background-color: #6406B7;
    border: none;
    color: white;
}

.images img{
    width: 90%;
}



@media (max-width: 768px) {
    main,
    h1,
    h2,
    h3 {
        padding-top: 100px;
        text-align: center;
    }

    main form {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 42px;
    }

    .images{
        margin-top: 80px;
    }

    main .images img {
        margin-left: 0px;
}
}
@media (max-width: 576px) {
    main {
        padding-top: 100px;
        text-align: center;
    }

    h1 {
        font-size: 42px;
    }

    p {
        font-size: 12px;
    }

    main form {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input[type=submit] {
        font-size: 14px;
        float: right;
        color: white;
        background-color: var(--azul);
    }

    .emailButton {
        width: 90%;
        margin-bottom: 80px;
    }

    input[type=email] {
        color: var(--grisTextos);
        display: inline-block;
        height: auto;

    }

}

.grayBg {
    background-color: var(--grisPrimario);
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clients {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.text {
    font-size: 18px;
    line-height: 1.6rem;
    color: var(--grisTextos);
}

.clientsBrand {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 8px;
    width: 100%;
    justify-items: center;
    align-items: center;
    margin-top: 32px;
}

h2 {
    font-size: 48px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .clientsBrand {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: (2, 1fr);
        row-gap: 16px;
    }
}

.clientsBrand .brand {
    width: 100px;
    height: auto;
    object-fit: scale-down;
}

@media (max-width: 576px) {
    .text {
        display: flex;
        justify-content: center;
    }

    .clientsBrand {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: (2, 1fr);
        row-gap: 16px;
    }

    h2 {
        font-size: 32px;
    }

}

/* Features */

.features{
    display: flex;
    justify-content: center;
}

.textWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gridFeatures {
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
}

.feature {
    padding: 36px 36px 36px 36px;
    background-color: #f8f8f8;
    margin-bottom: 24px;
    border-radius: 24px;
    width: 49%;
}

.feature h3{
    font-weight: bold;
}

.feature p{
    color: var(--grisTextos);
    margin-bottom: 0;
}

@media (max-width: 576px) {
    .features{
        margin-top:0;
    }
    
    .feature{
        width: 100%;
    }

    .feature h3 {
        padding-top: 0;
    }
    
}


/* Counsels */

.counsels {
    display: flex;
    justify-content: center;
}

.counsels .wrapper {
    display: flex;
    flex-direction: column;

}

.wrapperCards{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top:80px;
    gap: 32px;
}

.counselCard{
    width: 32%;
    height: 300px;
}

.counselCard img {
    width: 100%;
    object-fit: cover;
    height: 300px

} 

.counselCard h4{
    margin-top: 8px;
    font-weight: bold;
}

.counselCard h5{
    color: var(--grisTextos)
}

@media (max-width: 576px) {
    .wrapperCards{
        flex-direction: column;
    }

    .counselCard{
        width: 100%;
        height: auto;
    }
}

/* details */

.details {
    display: flex;
    justify-content: center;
}

.details .wrapper {
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.details .textos{
    width: 60%;
}

.details .img {
    width: 40%;
}

.details img {
    max-width: 100%;
}

.details h3 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 32px;
}

.details h4{
    font-weight: bold;
}

.details p {
    color: var(--grisTextos);
}

@media (max-width: 576px){
    .details .wrapper{
        flex-direction: column;
    }

    .details .textos{
        width: 100%;
    }

    .details .img{
        width: 100%;
    }
}


/* CTA final */



.CTA {
    background-image: url("./assets/index/bg-cta.png");
    background-size: cover;
    color: white;
    margin-top: 0;

}

.CTA .wrapper {
    width: 50%;
    align-items: flex-start;
    margin-left: 80px;
}

.CTA h2 {
    margin-bottom: 16px;
    width: auto;
}

.CTA p {
    width: 70%;
    font-size: 16px;
}

.buttonsWrapper {
    margin-top: 32px;
}

.whiteButton {
    background-color: white;
    color: var(--azul);
    border: 1px solid white;
    margin-right: 8px;
}

.whiteButton:hover {
    background-color: var(--grisPrimario);
}

.strokedButton {
    background-color: transparent;
    border: 1px solid white;
    color: white
}


@media (max-width: 768px) {
    .CTA .wrapper {
        margin: 16px;
        align-items: flex-start;
        width: 80%;
    }

    .CTA h2 {
        padding-top: 0;
        margin-bottom: 16px;
        text-align: start;
    }

    .whiteButton {
        display: inline-block;
        margin-bottom: 16px;
    }
}


@media (max-width: 576px) {
    .CTA .wrapper {
        margin: 0px 16px 16px 16px;
        align-items: flex-start;
        width: 90%;
    }

    .CTA h2 {
        padding-top: 0;
        margin-bottom: 16px;
        text-align: start;
    }

    .whiteButton {
        width: 100%;
        display: inline-block;
        margin-bottom: 16px;
    }

    .strokedButton {
        width: 100%;
    }


}



/* Footer */

footer {
    display: flex;
    justify-content: center;
}

footer .grid {
    max-width: 1180px;
}

footer .wrapper {
    margin-top: 100px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "links info products"
        "legal legal legal";
    max-width: 1180px;
    justify-items: start;

}

.logoLinks {
    grid-area: links;
}

.info {
    grid-area: info;
}

.productsFooter {
    grid-area: products;
}

.wrapperLegal {
    grid-area: legal;
}

footer a {
    text-decoration: none;
    color: var(--grisTextos);
}

footer .wrapper div {
    margin-right: 120px;

}

.wrapperLegal {
    display: block;
    margin-top: 48px;
    font-size: 16px;
    color: var(--grisTextos);
}

.wrapperLegal p,
.wrapperLegal a {
    display: inline;
    margin-right: 75px;
}

.wrapperLegal a {
    text-decoration: underline;
    color: var(--grisTextos);
}

footer img,
footer a {
    display: block;
    margin-top: 8px;
}

footer h4 {
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.wrapper a {
    color: var(--grisTextos);
}

footer .wrapper {
    display: grid;
}

@media (max-width: 576px) {
    footer .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
        grid-template-areas:
            "links"
            "info"
            "products"
            "legal";
        gap: 32px;
        max-width: 1180px;
        margin-left: 32px;
        justify-items: start;
    }


    .wrapperLegal a,
    p {
        display: block;
        font-size: 12px;
    }
}