@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap");
nav {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.55);
  padding: 20px 20px;
  border-bottom: 0.65px solid #C6C6C6;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: fixed;
  z-index: 200;
  backdrop-filter: blur(20px);
}
nav .wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
nav a {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--negro);
  text-decoration: none;
  margin-left: 20px;
}

.leftNav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.leftNav .logo {
  padding-right: 30px;
}

button {
  border-radius: 3px;
  padding: 12px 24px;
  margin-right: 8px;
  font-size: 14px;
}

.rightNav {
  display: flex;
  flex-flow: row wrap;
  align-items: end;
  align-content: center;
}

.btnSecondary,
.btnPrimary,
input[type=submit] {
  padding: 12px 24px;
  border: 1px solid var(--azul);
  border-radius: 3px;
}

.btnPrimary {
  background-color: var(--azul);
  color: white;
}

.btnSecondary {
  background-color: rgba(255, 255, 255, 0);
  color: var(--azul);
}

@media (max-width: 576px) {
  nav a {
    display: none;
  }
  nav a:first-child {
    display: block;
  }
  .btnSecondary {
    display: none;
  }
}
footer {
  display: flex;
  justify-content: center;
}
footer .grid {
  max-width: 1180px;
}
footer .wrapper {
  margin-top: 100px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "links info products" "legal legal legal";
  max-width: 1180px;
  justify-items: start;
}
footer .wrapper div {
  margin-right: 120px;
}
footer a {
  text-decoration: none;
  color: var(--grisTextos);
}
footer a, footer img {
  display: block;
  margin-top: 8px;
}
footer h4 {
  font-size: 18px;
  font-weight: 700;
  color: black;
}

.logoLinks {
  grid-area: links;
}

.info {
  grid-area: info;
}

.productsFooter {
  grid-area: products;
}

.wrapperLegal {
  grid-area: legal;
  display: block;
  margin-top: 48px;
  font-size: 16px;
  color: var(--grisTextos);
}
.wrapperLegal a, .wrapperLegal p {
  display: inline;
  margin-right: 75px;
}
.wrapperLegal a {
  text-decoration: underline;
  color: var(--grisTextos);
}

@media (max-width: 576px) {
  footer .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    grid-template-areas: "links" "info" "products" "legal";
    gap: 32px;
    max-width: 1180px;
    margin-left: 32px;
    justify-items: start;
  }
  .wrapperLegal a,
  p {
    display: block;
    font-size: 12px;
  }
}
.products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clients {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.text {
  font-size: 18px;
  line-height: 1.6rem;
  color: var(--grisTextos);
}

.clientsBrand {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 8px;
  width: 100%;
  justify-items: center;
  align-items: center;
  margin-top: 32px;
}
.clientsBrand .brand {
  width: 100px;
  height: auto;
  object-fit: scale-down;
}

@media (max-width: 768px) {
  .clientsBrand {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2, 1fr;
    row-gap: 16px;
  }
}
@media (max-width: 576px) {
  .text {
    display: flex;
    justify-content: center;
  }
  .clientsBrand {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2, 1fr;
    row-gap: 16px;
  }
  h2 {
    font-size: 32px;
  }
}
.CTA {
  background-image: url("./assets/index/bg-cta.png");
  background-size: cover;
  color: white;
  margin-top: 0;
}
.CTA .wrapper {
  width: 50%;
  align-items: flex-start;
  margin-left: 80px;
}
.CTA h2 {
  margin-bottom: 16px;
  width: auto;
}
.CTA p {
  width: 70%;
  font-size: 16px;
}

.buttonsWrapper {
  margin-top: 32px;
}

.whiteButton {
  background-color: white;
  color: var(--azul);
  border: 1px solid white;
  margin-right: 8px;
}
.whiteButton:hover {
  background-color: var(--grisPrimario);
}

.strokedButton {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

@media (max-width: 768px) {
  .CTA .wrapper {
    margin: 16px;
    align-items: flex-start;
    width: 80%;
  }
  .CTA h2 {
    padding-top: 0;
    margin-bottom: 16px;
    text-align: start;
  }
  .whiteButton {
    display: inline-block;
    margin-bottom: 16px;
  }
}
@media (max-width: 576px) {
  .CTA .wrapper {
    margin: 0px 16px 16px 16px;
    align-items: flex-start;
    width: 90%;
  }
  .CTA h2 {
    padding-top: 0;
    margin-bottom: 16px;
    text-align: start;
  }
  .whiteButton {
    width: 100%;
    display: inline-block;
    margin-bottom: 16px;
  }
  .strokedButton {
    width: 100%;
  }
}
:root {
  --azul: #4000D4;
  --naranjoGlobal: 251, 109, 0;
  --violetaCounsel: 100, 6, 183;
  --grisPrimario: #F6F6F8;
  --grisTextos: #888B94;
  --negro: #14192B;
  --verdeKickstart: 6, 91, 112;
  --rojoLegal: 193, 0, 0;
}

main {
  position: relative;
  overflow-x: hidden;
}
main .container {
  display: flex;
  align-items: center;
  height: auto;
  margin-top: 120px;
  margin-bottom: 200px;
}
main .row {
  height: 100%;
}
main .images img {
  position: relative;
  width: 150%;
  height: auto;
  margin-left: 80px;
}
main .images img:nth-child(2) {
  position: absolute;
  width: 50%;
  height: auto;
  bottom: -60px;
  left: -40px;
}
main p {
  font-size: 18px;
  line-height: 1.6rem;
  color: var(--grisTextos);
}

.images {
  position: relative;
}

h1 {
  font-size: 56px;
  margin-bottom: 16px;
  font-weight: bold;
}

.emailButton {
  margin-top: 16px;
  width: 80%;
  display: inline-block;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 12px;
}

input {
  border: none;
}
input[type=email] {
  color: var(--grisTextos);
  display: inline-block;
  height: 100%;
}
input[type=submit] {
  float: right;
  color: white;
  background-color: var(--azul);
}

@media (max-width: 576px) {
  main {
    padding-top: 100px;
    text-align: center;
  }
  main form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-size: 42px;
  }
  p {
    font-size: 12px;
  }
  input[type=submit] {
    font-size: 14px;
    float: right;
    color: white;
    background-color: var(--azul);
  }
  .emailButton {
    width: 90%;
    margin-bottom: 80px;
  }
  input[type=email] {
    color: var(--grisTextos);
    display: inline-block;
    height: auto;
  }
}
@media (max-width: 768px) {
  main,
  h1,
  h2,
  h3 {
    padding-top: 100px;
    text-align: center;
  }
  main form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-size: 42px;
  }
}
/* Paso a paso */
.stepByStep {
  display: flex;
  justify-content: center;
}
.stepByStep .wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.stepWrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-top: 38px;
  gap: 32px;
}
.stepWrapper .home {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  margin-bottom: 20px;
}
.stepWrapper .home img {
  max-width: 200px;
  object-fit: cover;
}

h4 {
  font-size: 18px;
  font-weight: 400;
}

.stepDesc {
  text-align: center;
}

@media (max-width: 768px) {
  .stepWrapper {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .stepByStep .wrapper {
    padding-top: 40px;
  }
  .stepWrapper {
    display: flex;
    flex-direction: column;
  }
}
/* Servicios */
.products {
  padding-bottom: 160px;
}
.products .wrapper {
  display: flex;
  flex-flow: column nowrap;
}
.products .wrapper .text {
  width: 75%;
  text-align: center;
  color: var(--grisTextos);
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;
}
.productGrid .productCard {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  padding: 30px 75px;
}
.productGrid .kickstart {
  background-color: rgba(var(--verdeKickstart), 0.1);
  border: 1px solid rgb(var(--verdeKickstart));
}
.productGrid .counsel {
  background-color: rgba(var(--violetaCounsel), 0.1);
  border: 1px solid rgb(var(--violetaCounsel));
}
.productGrid .legal {
  background-color: rgba(var(--rojoLegal), 0.1);
  border: 1px solid rgb(var(--rojoLegal));
}
.productGrid .global {
  background-color: rgba(var(--naranjoGlobal), 0.1);
  border: 1px solid rgb(var(--naranjoGlobal));
}

.iconText {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.iconText img {
  max-width: 30px;
  margin-bottom: 16px;
}
.iconText h3 {
  font-size: 32px;
  margin-bottom: 8px;
  font-weight: bold;
}
.iconText p {
  font-size: 16px;
  color: var(--grisTextos);
}

.buttonSide button {
  color: white;
  border: none;
  border-radius: 3px;
}

.kickstart button {
  background-color: rgb(var(--verdeKickstart));
}

.counsel button {
  background-color: rgb(var(--violetaCounsel));
}

.legal button {
  background-color: rgb(var(--rojoLegal));
}

.global button {
  background-color: rgb(var(--naranjoGlobal));
}

@media (max-width: 576px) {
  .productGrid {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
    justify-content: center;
    justify-items: center;
  }
  .productCard {
    width: 80%;
    border-radius: 6px;
    padding: 24px 25px;
  }
  .iconText h3 {
    padding-top: 8px;
    align-items: left;
  }
}
@media (max-width: 768px) {
  .productGrid {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    justify-content: center;
    justify-items: center;
  }
  .productCard {
    margin: 0px 8px 0px 8px;
    border-radius: 6px;
    padding: 24px 24px;
    width: 80%;
  }
  .iconText h3 {
    padding-top: 8px;
    align-items: left;
  }
}
/* Main */
main {
  padding-top: 120px;
  height: auto;
  position: relative;
  overflow-x: hidden;
}
main .container {
  display: flex;
  align-items: center;
}
main .images img {
  position: relative;
  width: 150%;
  height: auto;
  margin-left: 80px;
}
main .images img:nth-child(2) {
  position: absolute;
  width: 50%;
  height: auto;
  bottom: -60px;
  left: -40px;
}
main p {
  font-size: 18px;
  line-height: 1.6rem;
  color: var(--grisTextos);
}

.images {
  position: relative;
}

h1 {
  font-size: 56px;
  margin-bottom: 16px;
  font-weight: 700;
}

.emailButton {
  margin-top: 16px;
  width: 80%;
  display: inline-block;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 12px;
}

input {
  border: none;
}
input[type=email] {
  color: var(--grisTextos);
  display: inline-block;
  height: 100%;
}
input [type=submit] {
  float: right;
  color: white;
  background-color: var(--azul);
}

@media (max-width: 768px) {
  main,
  h1,
  h2,
  h3 {
    padding-top: 100px;
    text-align: center;
  }
  main form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main form .images img {
    margin-left: 0px;
  }
  h1 {
    font-size: 42px;
  }
  .images {
    margin-top: 80px;
  }
}
@media (max-width: 576px) {
  main {
    padding-top: 100px;
    text-align: center;
  }
  main form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-size: 42px;
  }
  p {
    font-size: 12px;
  }
  input[type=submit] {
    font-size: 14px;
    float: right;
    color: white;
    background-color: var(--azul);
  }
  .emailButton {
    width: 90%;
    margin-bottom: 80px;
  }
  input[type=email] {
    color: var(--grisTextos);
    display: inline-block;
    height: auto;
  }
}
/* Video y características */
.details {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.details .videoDemo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1180px;
}
.details .videoDemo h2 {
  text-align: center;
  margin-bottom: 80px;
}

.characteristics {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1180px;
}

.step {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
  margin-bottom: 240px;
}

.desktop {
  display: flex;
}

.mobile {
  display: none;
}

.texts img {
  max-height: 40px;
  margin-bottom: 16px;
}

.tituloDesc {
  margin-bottom: 16px;
  font-weight: bold !important;
}

.image img {
  width: 150%;
  max-width: none;
}

.leftImg {
  margin-left: -50%;
}

@media (max-width: 768px) {
  .characteristics {
    padding: 16px;
  }
  .step {
    flex-direction: column;
    gap: 60px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .tituloDesc {
    padding-top: 8px;
    text-align: left;
  }
}
@media (max-width: 576px) {
  .videoDemo {
    padding: 16px;
  }
  .videoDemo h2 {
    font-size: 32px;
  }
  .step {
    flex-direction: column;
    gap: 20px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .tituloDesc {
    padding-top: 8px;
    text-align: left;
  }
}
main {
  padding-top: 100pxa;
  position: relative;
  overflow-x: hidden;
}
main .container {
  display: flex;
  align-items: center;
}
main .row {
  height: 100%;
}
main p {
  font-size: 18px;
  line-height: 1.6rem;
  color: var(--grisTextos);
}
main .images {
  position: relative;
}
main .images img {
  width: 600px;
}

h1 {
  font-size: 56px;
  margin-bottom: 16px;
  font-weight: 700;
}

@media (max-width: 768px) {
  main,
  h1,
  h2,
  h3 {
    padding-top: 100px;
    text-align: center;
  }
  main form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-size: 42px;
  }
  .images {
    margin-top: 80px;
  }
  main .images img {
    margin-left: 0px;
  }
}
@media (max-width: 576px) {
  main {
    padding-top: 100px;
    text-align: center;
  }
  main form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-size: 42px;
  }
  p {
    font-size: 12px;
  }
  input[type=submit] {
    font-size: 14px;
    float: right;
    color: white;
    background-color: var(--azul);
  }
  .emailButton {
    width: 90%;
    margin-bottom: 80px;
  }
  input[type=email] {
    color: var(--grisTextos);
    display: inline-block;
    height: auto;
  }
}
/* Servicios */
.products {
  padding-bottom: 100px;
}
.products .wrapper {
  display: flex;
  flex-flow: column nowrap;
}
.products .wrapper .text {
  width: 75%;
  text-align: center;
}

.pricing {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.pricing .productCard {
  width: 33%;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  padding: 30px 24px;
  justify-content: space-around;
}
.pricing .productCard li {
  color: var(--grisTextos);
  margin-bottom: 4px;
  font-size: 14px;
}

.iconText {
  display: block;
}
.iconText img {
  display: inline;
  max-width: 20px;
  margin-left: 8px;
  margin-top: -5px;
}
.iconText h3 {
  display: inline;
  font-size: 32px;
  margin-bottom: 8px;
  font-weight: bold;
}
.iconText p {
  margin-top: 8px;
  font-size: 16px;
  color: var(--grisTextos);
}

.kickstart {
  background-color: rgba(var(--verdeKickstart), 0.1);
  border: 1px solid rgb(var(--verdeKickstart));
}
.kickstart a {
  color: rgb(var(--verdeKickstart));
}

.counsel {
  background-color: rgba(var(--violetaCounsel), 0.1);
  border: 1px solid rgb(var(--violetaCounsel));
}
.counsel a {
  color: rgb(var(--violetaCounsel));
}

.legal {
  background-color: rgba(var(--rojoLegal), 0.1);
  border: 1px solid rgb(var(--rojoLegal));
}
.legal a {
  color: rgb(var(--rojoLegal));
}

.global {
  background-color: rgba(var(--naranjoGlobal), 0.1);
  border: 1px solid rgb(var(--naranjoGlobal));
}
.global a {
  color: rgb(var(--naranjoGlobal));
}

.lexgo {
  background-color: rgba(0, 102, 255, 0.1);
  border: 1px solid rgb(0, 102, 255);
}
.lexgo a {
  color: rgb(0, 102, 255);
}

/*  Testimonial */
.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonial h3 {
  font-size: 32px;
  font-weight: bold;
  width: 80%;
  text-align: center;
  margin-bottom: 80px;
}
.testimonial img {
  width: 50%;
  max-width: 400px;
  height: 370px;
  object-fit: cover;
}
.testimonial .textos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial h5 {
  font-size: 22px;
  line-height: 2rem;
}
.testimonial h6, .testimonial p {
  font-size: 18px;
  color: var(--azul);
  margin-bottom: 0;
}
.testimonial h6 {
  font-weight: bold;
}

.btnGlobal {
  background-color: #FB6D00;
  border: none;
  color: white;
}

/* Bajada */
.minutos {
  display: flex;
  justify-content: center;
}
.minutos h2 {
  font-size: 38px;
  margin-bottom: 40px;
}

/* tributario */
.tributario {
  display: flex;
  justify-content: center;
}
.tributario .wrapper {
  flex-direction: row;
  gap: 24px;
}
.tributario img {
  width: 100%;
}
.tributario h3 {
  font-weight: bold;
  font-size: 28px;
}
.tributario .textos {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.tributario .textos div {
  margin-bottom: 32px;
}

@media (max-width: 576px) {
  .minutos {
    overflow-x: hidden;
  }
  .tributario .wrapper {
    flex-direction: column;
  }
  .tributario img {
    width: 90%;
  }
  .minutos img {
    width: 90%;
  }
}
/* uso */
.uso {
  display: flex;
  justify-content: center;
  width: 100%;
}
.uso h2 {
  text-align: center;
  margin-bottom: 64px;
}

.cardWrapper {
  justify-content: center;
  width: 100%;
  display: flex;
  gap: 24px;
}
.cardWrapper .card {
  width: 31%;
  border: none;
}
.cardWrapper .card h3 {
  text-align: center;
  margin-top: 16px;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 576px) {
  .cardWrapper {
    flex-direction: column;
    width: 90%;
  }
  .cardWrapper .card {
    width: 100%;
  }
  .cardWrapper .card h3 {
    padding-top: 16px;
  }
  .uso .wrapper {
    width: 90%;
  }
}
/* Main */
.btnCounsel {
  background-color: #6406B7;
  border: none;
  color: white;
}

/* Features */
.features {
  display: flex;
  justify-content: center;
}
.features .gridFeatures {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
}
.features .feature {
  padding: 36px 36px 36px 36px;
  background-color: #f8f8f8;
  margin-bottom: 24px;
  border-radius: 24px;
  width: 49%;
}
.features .feature h3 {
  font-weight: bold;
}
.features .feature p {
  color: var(--grisTextos);
  margin-bottom: 0;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 576px) {
  .features {
    margin-top: 0;
  }
  .feature {
    width: 100%;
  }
  .feature h3 {
    padding-top: 0;
  }
}
/* Counsels */
.counsels {
  display: flex;
  justify-content: center;
}
.counsels .wrapper {
  display: flex;
  flex-direction: column;
}
.counsels .counselCard {
  width: 32%;
  height: 300px;
}
.counsels .counselCard img {
  width: 100%;
  object-fit: cover;
  height: 300px;
  border-radius: 16px;
}
.counsels .counselCard h4 {
  margin-top: 8px;
  font-weight: bold;
}
.counsels .counselCard h5 {
  color: var(--grisTextos);
}

.wrapperCards {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 80px;
  gap: 32px;
}

@media (max-width: 576px) {
  .wrapperCards {
    flex-direction: column;
  }
  .counselCard {
    width: 100%;
    height: auto;
  }
}
/* details */
.details {
  display: flex;
  justify-content: center;
}
.details .wrapper {
  display: flex;
  flex-direction: row;
  gap: 64px;
}
.details .textos {
  width: 60%;
}
.details .img {
  width: 40%;
  max-width: 100%;
}
.details h3 {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 32px;
}
.details h4 {
  font-weight: bold;
}
.details p {
  color: var(--grisTextos);
}

@media (max-width: 576px) {
  .details .wrapper {
    flex-direction: column;
  }
  .details .textos {
    width: 100%;
  }
  .details .img {
    width: 100%;
  }
}
button {
  opacity: 100%;
  transition: opacity 300ms;
}
button:hover {
  opacity: 70%;
}

nav a:not(.logo) {
  margin-left: 0px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 300ms;
}
nav a:not(.logo):hover {
  background-color: var(--grisPrimario);
  color: var(--negro);
}
nav a:not(.logo).active {
  background-color: var(--grisPrimario);
}

* {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

section {
  position: relative;
  margin-top: 100px;
}
section .wrapper {
  width: 100%;
  max-width: 1080px;
  padding: 80px 0px 80px 0px;
}

.grayBg {
  background-color: #F6F6F8;
}

.saltoDeLinea {
  display: block;
}

h2 {
  font-size: 48px;
  font-weight: bold;
}

@media (max-width: 576px) {
  .saltoDeLinea {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
