@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');


:root {
    --azul: #4000D4;
    --naranjoGlobal: 251, 109, 0;
    --violetaCounsel: 100, 6, 183;
    --grisPrimario: #F6F6F8;
    --grisTextos: #888B94;
    --negro: #14192B;
    --verdeKickstart: 6, 91, 112;
    --rojoLegal: 193, 0, 0;

}

* {
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

section {
    position: relative;
    margin-top:100px;
}


section .wrapper {
    width: 100%;
    max-width: 1080px;
    padding: 80px 0px 80px 0px;
}

/* NAVBAR */

nav .wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

nav {
    width: 100%;
    background-color: rgba(255, 255, 255, .55);
    padding: 20px 20px;
    border-bottom: 0.65px solid #C6C6C6;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: fixed;
    z-index: 200;
    backdrop-filter: blur(20px);
}

.leftNav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.leftNav .logo {
    padding-right: 30px;
}

button {
    border-radius: 3px;
    padding: 12px 24px;
    margin-right: 8px;
    font-size: 14px;
}

nav a {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--negro);
    text-decoration: none;
    margin-left: 20px;
}

.rightNav {
    display: flex;
    flex-flow: row wrap;
    align-items: end;
    align-content: center;

}

.btnSecondary,
.btnPrimary,
input[type=submit] {
    padding: 12px 24px;
    border: 1px solid var(--azul);
    border-radius: 3px;
}

.btnPrimary {
    background-color: var(--azul);
    color: white;
}

.btnSecondary {
    background-color: rgba(255, 255, 255, 0);
    color: var(--azul);
}

@media (max-width: 576px){
    nav a{
        display: none;
    }
    nav a:first-child{
        display: block;
    }

    .btnSecondary{
        display: none;
    }
}


/* Hero banner */

main {
    position: relative;
    overflow-x: hidden;
}

main .container {
    display: flex;
    align-items: center;
    height: 100vh;
}

main .row{
    height: 100%;
}

.images {
    position:relative;
}

main .images img {
    position: relative;
    width: 150%;
    height: auto;
    margin-left:80px;

}

main .images img:nth-child(2){
    position: absolute;
    width: 50%;
    height: auto;
    bottom: -60px;
    left: -40px;
}


h1 {
    font-size: 56px;
    margin-bottom: 16px;
    font-weight: 700;
}

main p {
    font-size: 18px;
    line-height: 1.6rem;
    color: var(--grisTextos);
}

.emailButton {
    margin-top: 16px;
    width: 80%;
    display: inline-block;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 12px;
}

input {
    border: none;
}

input[type=email] {
    color: var(--grisTextos);
    display: inline-block;
    height: 100%;
}

input[type=submit] {
    float: right;
    color: white;
    background-color: var(--azul);
}


@media (max-width: 576px){
    main{
        padding-top: 100px;
        text-align: center;
    }

    h1{
        font-size: 42px;
    }
    p{
        font-size: 12px;
    }

    main form{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input[type=submit] {
        font-size: 14px;
        float: right;
        color: white;
        background-color: var(--azul);
    }
    .emailButton {
        width: 90%;
        margin-bottom: 80px;
    }

    input[type=email] {
        color: var(--grisTextos);
        display: inline-block;
        height: auto;

    }

}

@media (max-width: 768px){
    main, h1, h2, h3{
        padding-top: 100px;
        text-align: center;
    }

    main form{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1{
        font-size: 42px;
    }
}



/*clientes*/

.grayBg {
    background-color: var(--grisPrimario);
}

.products{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clients {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.text {
    font-size: 18px;
    line-height: 1.6rem;
    color: var(--grisTextos);
}

.clientsBrand{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 8px;
    width: 100%;
    justify-items: center;
    align-items: center;
    margin-top: 32px;
}
h2 {
    font-size: 48px;
    font-weight: bold;
}

@media (max-width: 768px){
    .clientsBrand {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: (2, 1fr);
        row-gap: 16px;
    }
}

.clientsBrand .brand {
    width: 100px;
    height: auto;
    object-fit: scale-down;
}

@media (max-width: 576px) {
    .text {
        display: flex;
        justify-content: center;
    }

    .clientsBrand {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: (2, 1fr);
        row-gap: 16px;
    }

    h2 {
        font-size: 32px;
    }
    
}

/* Paso a paso */

.stepByStep{
    display: flex;
    justify-content: center;
}


.stepByStep .wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.stepWrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-top: 38px;
    gap: 32px;
}


h4 {
    font-size: 18px;
    font-weight: 400;
}

.step {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.step img {
    max-width: 200px;
    object-fit: cover;
}

.stepDesc {
    text-align: center;
}


@media (max-width: 768px) {
    .stepWrapper {
        display: flex;
        flex-direction: column;
    }
    
}

@media (max-width: 576px) {
    .stepByStep .wrapper{
        padding-top: 40px;
    }


    .stepWrapper {
        display: flex;
        flex-direction: column;
    }
    
}

/* Servicios */

.products{
    padding-bottom: 160px;
}

.products .wrapper .grayBg{
    display: flex;
    flex-flow: column nowrap;
  
} 


.products .wrapper .text {
    width: 75%;
    text-align: center;
}


.productGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 32px;

}

.productCard {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    padding: 30px 75px;
}

.iconText{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.iconText img {
    max-width: 30px;
    margin-bottom: 16px;
}

.iconText h3 {
    font-size: 32px;
    margin-bottom: 8px;
    font-weight: bold;
}

.iconText p {
    font-size: 16px;
    color: var(--grisTextos);
}

.kickstart {
    background-color: rgba(var(--verdeKickstart), 0.1);
    border: 1px solid rgb(var(--verdeKickstart));
}

.counsel {
    background-color: rgba(var(--violetaCounsel), 0.1);
    border: 1px solid rgb(var(--violetaCounsel));
}

.legal {
    background-color: rgba(var(--rojoLegal), 0.1);
    border: 1px solid rgb(var(--rojoLegal));
}

.global {
    background-color: rgba(var(--naranjoGlobal), 0.1);
    border: 1px solid rgb(var(--naranjoGlobal));
}

.buttonSide button {
    color: white;
    border: none;
    border-radius: 3px;
}

.kickstart button {
    background-color: rgb(var(--verdeKickstart));
}

.counsel button {
    background-color: rgb(var(--violetaCounsel));
}

.legal button {
    background-color: rgb(var(--rojoLegal));
}

.global button {
    background-color: rgb(var(--naranjoGlobal));
}



@media (max-width: 576px) {
    .productGrid {
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
        justify-content: center;
        justify-items: center;
    }

    .productCard {
        width: 80%;
        border-radius: 6px;
        padding: 24px 25px;

    }

    .iconText h3 {
        padding-top: 8px;
        align-items: left;
    }
}

@media (max-width: 768px) {
    .productGrid {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
        justify-content: center;
        justify-items: center;
    }

    .productCard {
        margin: 0px 8px 0px 8px;
        border-radius: 6px;
        padding: 24px 24px;
        width: 80%;
    }

    .iconText h3 {
        padding-top: 8px;
        align-items: left;
    }
}

/* CTA final */



.CTA {
    background-image: url("./assets/index/bg-cta.png");
    color: white;
    margin-top:0;
 
}

.CTA .wrapper{
    width: 50%;
    align-items: flex-start;
    margin-left: 80px;
}

.CTA h2 {
    margin-bottom: 16px;
    width: auto;
}

.CTA p{
    width: 70%;
    font-size: 16px;
}

.buttonsWrapper {
    margin-top: 32px;
}

.whiteButton {
    background-color: white;
    color: var(--azul);
    border: 1px solid white;
    margin-right: 8px;
}

.whiteButton:hover {
    background-color: var(--grisPrimario);
}

.strokedButton {
    background-color: transparent;
    border: 1px solid white;
    color: white
}


@media (max-width: 768px) {
    .CTA .wrapper{
        margin: 16px;
        align-items: flex-start;
        width: 80%;
    }
    .CTA h2 {
        padding-top: 0;
        margin-bottom: 16px;
        text-align: start;
    }
    .whiteButton{
        display: inline-block;
        margin-bottom: 16px;
    }
}


@media (max-width: 576px) {
    .CTA .wrapper{
        margin: 0px 16px 16px 16px;
        align-items: flex-start;
        width: 90%;
    }
    .CTA h2 {
        padding-top: 0;
        margin-bottom: 16px;
        text-align: start;
    }
    .whiteButton{
        width: 100%;
        display: inline-block;
        margin-bottom: 16px;
    }
    .strokedButton {
        width: 100%;
    }
    

}




/* Footer */

footer .grid {
    max-width: 1180px;
}

footer {
    margin-top: 100px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "links info products"
    "legal legal legal";
    max-width: 1180px;
    justify-items: center;
    
}

.logoLinks{
    grid-area: links;
}

.info{
    grid-area: info;
}

.productsFooter{
    grid-area: products;
}

.wrapperLegal{
    grid-area: legal;
}

footer a {
    text-decoration: none;
    color: var(--grisTextos);
}

footer .wrapper div {
    margin-right: 120px;

}

.wrapperLegal {
    display: block;
    margin-top: 48px;
    font-size: 16px;
    color: var(--grisTextos);
}

.wrapperLegal p,
.wrapperLegal a {
    display: inline;
    margin-right: 75px;
}

.wrapperLegal a {
    text-decoration: underline;
    color: var(--grisTextos);
}

footer img,
footer a {
    display: block;
    margin-top: 8px;
}

footer h4 {
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.wrapper a {
    color: var(--grisTextos);
}

@media (max-width: 576px) {
    footer{
    grid-template-columns:1fr ;
    grid-template-rows: 4fr;
    grid-template-areas: 
    "links"
    "info"
    "products"
    "legal";
    gap: 32px;
    max-width: 1180px;
    margin-left: 32px;
    justify-items: start;
}


.wrapperLegal a, p{
    display: block;
    font-size: 12px;
}
}
    
