@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');


:root {
    --azul: #4000D4;
    --naranjoGlobal: 251, 109, 0;
    --violetaCounsel: 100, 6, 183;
    --grisPrimario: #F6F6F8;
    --grisTextos: #888B94;
    --negro: #14192B;
    --verdeKickstart: 6, 91, 112;
    --rojoLegal: 193, 0, 0;

}

* {
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

section {
    position: relative;
}

section .wrapper {
    width: 80%;
    max-width: 1180px;
    padding: 80px 0px 80px 0px;
}

nav {
    background-color: rgba(255, 255, 255, .75);
    padding: 10px 20px;
    border-bottom: 0.65px solid #C6C6C6;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: fixed;
    z-index: 200;
    width: 100%;
    backdrop-filter: blur(20px);
}

.leftNav {
    display: inline;
    margin-right: 200px;
}

.leftNav .logo {
    padding-right: 30px;
}

button {
    border-radius: 3px;
    padding: 12px 24px;
}

nav a {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--negro);
    text-decoration: none;
    margin-right: 20px;
}

.rightNav {
    display: inline-block;
    position: absolute;
    right: 20px;
}

.btnSecondary,
.btnPrimary,
input[type=submit] {
    padding: 12px 24px;
    border: 1px solid var(--azul);
    border-radius: 3px;
}

.btnPrimary {
    background-color: var(--azul);
    color: white;
}

.btnSecondary {
    background-color: rgba(255, 255, 255, 0);
    color: var(--azul);
}

main {
    height: 80vh;
    position: relative;
    padding-bottom: 100px;
}

main .mainTexts {
    width: 48%;
    display: inline-block;
}

main .images {
    width: 48%;
    display: inline-block;
}

main .images img {
    object-fit: contain;
    width: 80%;
}


h1 {
    font-size: 56px;
    margin-bottom: 16px;
}

main p {
    font-size: 18px;
    line-height: 1.6rem;
    color: var(--grisTextos);
}

.emailButton {
    width: 80%;
    display: inline-block;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 12px 24px;
}

input {
    border: none;
}

input[type=email] {
    color: var(--grisTextos);
    display: inline-block;
    height: 100%;
}

input[type=submit] {
    float: right;
    color: white;
    background-color: var(--azul);
}

.grayBg {
    background-color: var(--grisPrimario);
}

.text {
    font-size: 18px;
    line-height: 1.6rem;
    color: var(--grisTextos);
}

.clientsBrand .brand {
    width: 10%;
    aspect-ratio: 2/3;
    object-fit: scale-down;
}

h2 {
    font-size: 48px;
}

h4 {
    font-size: 18px;
    font-weight: 400;
}

.step {
    display: inline-block;
    width: 20%;
    margin-right: 40px;
}

.step img {
    max-width: 180px;
    object-fit: cover;
}

.products .wrapper .text {
    width: 75%;
    text-align: center;
}

.productCard {
    border-radius: 6px;
    padding: 30px 75px;
    display: inline-block;
}

.iconText img {
    max-width: 30px;
}

.iconText h3 {
    font-size: 32px;
    margin-bottom: 8px;
}

.iconText p {
    font-size: 16px;
    color: var(--grisTextos);
}

.kickstart {
    background-color: rgba(var(--verdeKickstart), 0.1);
    border: 1px solid rgb(var(--verdeKickstart));
}

.counsel {
    background-color: rgba(var(--violetaCounsel), 0.1);
    border: 1px solid rgb(var(--violetaCounsel));
}

.legal {
    background-color: rgba(var(--rojoLegal), 0.1);
    border: 1px solid rgb(var(--rojoLegal));
}

.global {
    background-color: rgba(var(--naranjoGlobal), 0.1);
    border: 1px solid rgb(var(--naranjoGlobal));
}

.buttonSide button {
    color: white;
    border: none;
    border-radius: 3px;
}

.kickstart button {
    background-color: rgb(var(--verdeKickstart));
}

.counsel button {
    background-color: rgb(var(--violetaCounsel));
}

.legal button {
    background-color: rgb(var(--rojoLegal));
}

.global button {
    background-color: rgb(var(--naranjoGlobal));
}

.CTA {
    margin-top: 80px;
    background-image: url("/assets/index/bg-cta.png");
    color: white;
}

.CTA h2 {
    margin: 0;
}

.buttonsWrapper {
    margin-top: 32px;
}

.whiteButton {
    background-color: white;
    color: var(--azul);
    border: 1px solid white;
    margin-right: 8px;
}

.whiteButton:hover {
    background-color: var(--grisPrimario);
}

.strokedButton {
    background-color: transparent;
    border: 1px solid white;
    color: white
}

footer {
    margin-top: 100px;
    padding-bottom: 30px;
}

footer div {
    display: inline-block;
}

footer a {
    text-decoration: none;
}

footer .wrapper div {
    margin-right: 120px;

}

.wrapperLegal {
    display: block;
    margin-top: 48px;
    font-size: 16px;
    color: var(--grisTextos);
}

.wrapperLegal p,
.wrapperLegal a {
    display: inline;
    margin-right: 75px;
}

.wrapperLegal a {
    text-decoration: underline;
    color: var(--grisTextos);
}

footer img,
footer a {
    display: block;
    margin-top: 8px;
}

footer h4 {
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.wrapper a {
    color: var(--grisTextos);
    margin-bottom: 18px;
}