h1 {
    font-size: 56px;
    margin-bottom: 16px;
    font-weight: 700;
}



@media (max-width: 768px) {

    main,
    h1,
    h2,
    h3 {
        padding-top: 100px;
        text-align: center;
    }

    main form {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 42px;
    }

    .images {
        margin-top: 80px;
    }

    main .images img {
        margin-left: 0px;
    }
}

@media (max-width: 576px) {
    main {
        padding-top: 100px;
        text-align: center;

        form {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    input[type=submit] {
        font-size: 14px;
        float: right;
        color: white;
        background-color: var(--azul);
    }

    .emailButton {
        width: 90%;
        margin-bottom: 80px;
    }

    input[type=email] {
        color: var(--grisTextos);
        display: inline-block;
        height: auto;

    }

}

/* Servicios */



.pricing {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    gap: 12px;

    .productCard {
        width: 33%;
        display: flex;
        flex-direction: column;
        border-radius: 6px;
        padding: 30px 24px;
        justify-content: space-around;

        li {
            color: var(--grisTextos);
            margin-bottom: 4px;
            font-size: 14px;
        }

    }
}

@media (max-width: 576px) {

    .products {
        padding-bottom: 40px;
    }

    .pricing {
        flex-direction: column;
        align-items: center;

        .productCard {
            width: 100%;
        }
    }


}

@media (max-width: 768px) {

    .products {
        padding-bottom: 40px;
    }

    .pricing {
        flex-direction: column;
        align-items: center;

        .productCard {
            width: 100%;
        }
    }


}



.iconText {
    display: block;

    img {
        display: inline;
        max-width: 20px;
        margin-left: 8px;
        margin-top: -5px;
    }

    h3 {
        display: inline;
        font-size: 32px;
        margin-bottom: 8px;
        font-weight: bold;
    }

    p {
        margin-top: 8px;
        font-size: 16px;
        color: var(--grisTextos);
    }
}


.kickstart {
    background-color: rgba(var(--verdeKickstart), 0.1);
    border: 1px solid rgb(var(--verdeKickstart));

    a {
        color: rgb(var(--verdeKickstart));
    }
}

.counsel {
    background-color: rgba(var(--violetaCounsel), 0.1);
    border: 1px solid rgb(var(--violetaCounsel));

    a {
        color: rgb(var(--violetaCounsel));
    }
}

.legal {
    background-color: rgba(var(--rojoLegal), 0.1);
    border: 1px solid rgb(var(--rojoLegal));

    a {
        color: rgb(var(--rojoLegal));
    }
}

.global {
    background-color: rgba(var(--naranjoGlobal), 0.1);
    border: 1px solid rgb(var(--naranjoGlobal));

    a {
        color: rgb(var(--naranjoGlobal));
    }
}

.lexgo {
    background-color: rgba(0, 102, 255, 0.1);
    border: 1px solid rgb(0, 102, 255);

    a {
        color: rgb(0, 102, 255);
    }
}

/*  Testimonial */

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        font-size: 32px;
        font-weight: bold;
        width: 80%;
        text-align: center;
        margin-bottom: 80px;
    }

    .test {
        display: flex;
        height: 370px;
    }


    img {
        width: 48%;
        max-width: 400px;
        height: 370px;
        object-fit: cover;
    }

    .textos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 40px;
    }

    h5 {
        font-size: 22px;
        line-height: 2rem;
    }

    h6,
    p {
        font-size: 18px;
        color: var(--azul);
        margin-bottom: 0;
    }

    h6 {
        font-weight: bold;
    }

}

@media (max-width: 576px) {
    .testimonial {
        padding-top: 20px;

        h3 {
            width: 100%;
        }

        .test {
            flex-direction: column;
            height: auto;
        }

        img {
            width: 100%;
            max-width: none;
        }

        .textos {
            margin-left: 0px;
            margin-top: 16px;
            margin-bottom: 16px;

            h5 {
                margin-bottom: 16px;
            }

            .elSujeto {
                p {
                    text-align: left;
                }
            }

        }
    }
}

@media (max-width: 768px) {
    .testimonial {
        .test {
            flex-direction: column;
            height: auto;
        }

        img {
            width: 100%;
            max-width: none;
        }

        .textos {
            margin-left: 0px;
            margin-top: 16px;
            margin-bottom: 16px;

            h5 {
                margin-bottom: 16px;
            }

            .elSujeto {
                p {
                    text-align: left;
                }
            }

        }
    }
}